@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Medium);
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Bold);
    font-weight: 700;
}

@font-face {
    font-family: "PTSans";
    src: url(./fonts/PTSans-Regular);
}