.title {
    width: 100%;
}

.navigation {
    font-family: "PTSans", sans-serif;
    font-size: 14px;
    color: #888888;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 60px;
}

.logo {
    cursor: pointer;
}

.navigation-item {
    list-style-type: disc;
    color: #E12126;
}

.navigation-item:nth-child(1) {
    list-style-type: none;
}

.navigation-link {
    color: #888888;
    cursor: pointer;
    transition: color .4s;
}

.navigation-link:hover {
    color: #222222;
}

.header {
    color: #222222;
}

.svg-telephone {
    color: #e12126
}

.product-wrap {
    margin: 0 auto;
    width: 1500px;
}

.text {
    max-width: 1150px;
}

.product-kim {
    padding-top: 67px;
}

.product-inner {
    display: flex;
    margin-top: 40px;
    padding-bottom: 60px;
    justify-content: space-between;
}

.product-characteristic {
    width: 660px;
    display: flex;
    flex-direction: column;
}

.product-characteristic_title {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #444444;
    margin-bottom: 60px;
}

.characteristic {
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
}

.characteristic-row {
    font-family: "PTSans", sans-serif;
    color: #444;
    display: inline;
}

.characteristic-border {
    align-self: end;
    border: 1px dashed #ccc;
    flex: 1;
    height: 1px;
    margin: 0 5px;
}

.characteristic-result {
    font-family: "PTSans", sans-serif;
    font-weight: 700;
    color: #444;
}

.offer-button {
    font-family: "PTSans", sans-serif;
    font-size: 18px;
    width: 258px;
    height: 60px;
    background-color: #E12126;
    color: #ffffff;
    margin-top: 78px;
    transition: opacity .4s;
    cursor: pointer;
}

.offer-button:hover {
    opacity: 0.8
}
